*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gil;
}
@font-face {
  font-family:gil ;
  src: url(/Gilroy-SemiBold\ -\ Copy.eot);
}
html,body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#main{
  display: flex;
   height: 100%;
   width: 100%;
   background-color: #fff;
}
#sidebar{
  position: absolute;
  height: 100%;
  width: 3%;
  background-color: rgb(34, 33, 33);
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #535252;
}
#sidebar #first{
  padding-top: 50px;
  padding-right: 12px;
  font-size: 24px;
  font-weight: 100;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
#sidebar #last{
  flex-direction: column;
  font-size: 24px;
  font-weight: 100;
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}
#navbar{
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5%;
  background-color: rgb(34,33,33);
  border-bottom: 1px solid #535252;
}
#first{
  display: flex;
  z-index: 25;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  font-size: 16px;
  padding-left: 10px;
  font-weight: 100;
}
#first img{
  height: 18px;
  width: 18px;
}
#middle{
font-size: 18px;
/* letter-spacing: 1px; */
font-weight: 100;
word-spacing: 2px;
}
#last{
  display: flex;
  gap: 20px;
  font-family: "Gilroy-Black";
  padding-right: 10px;
  font-size: 16px;
}

#left{
  color: #fff;
  font-weight: 100;
  margin-left: 2%;
  padding: 20px;
  width: 25%;
  height: 100%;
  /* background-color: #f3f3f3; */
  background-color: rgb(49, 47, 47);
  border-right: 1px solid #535252;
}
#left #filedets{
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 50px;
}
#filedets h3{
  font-family: sans-serif;
  padding-left: 10px;
  font-weight: 600;
}
#filedets #icons {
  display: flex;
  gap: 8px;
}
#icons i{
  font-size: 20px;
}
#files{
  padding: 20px 10px;
  font-weight: 600;
}  
#files .elem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 10px;
}
#left form{
  display: none;
  width: 100%;
  margin-bottom:20px ;
}
#left form input{
  width:70%;
  padding: 8px 10px;
  border-radius: 5px;
  outline-color: rgb(54, 54, 241); 
  border: 2px solid #f3f3f3;
  font-weight: 600;
}
.elem-right{
  display: flex;
  gap: 15px;
}
.elem-right i{
   opacity: 0;
}
.elem-right #d{
  color: #fff;
}
.elem:hover i{
  opacity: 1;
}
#right{
  width: 75%;
  height: 100%;
  color: #fff;
  position: relative;
  background-color: rgb(66, 65, 65);
}
#right h5{
  position: absolute;
  top: 50%;
  color: rgb(240, 236, 236);
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: .1;
  font-size: 17px;
  font-weight: 600;
}
a{
  color: #fff;
  text-decoration: none;
}
#rnav{
  height: 50px;
  display: flex;
  width: 100%;
  background-color: #fff;
}
#file{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 20px;
  font-weight: 500;
  width: fit-content;
  height: 100%;
  /* background-color: #fff; */
}

form{
  width: 100%;
  height: calc(100% - 50px);
}

textarea{
  border: none;
  outline: none;
  background-color: transparent;
  padding: 15px;
  font-family: "Consolas";
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  color: #fff;
  height: 98%;
}

#submitbtn{
  position: absolute;
  top: 1%;
  right: 2%;
  color: #eeecec;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 600;
  background-color: rgb(138, 135, 135);
}
#card{
  display:  none;
  align-items: center;
  justify-content: center;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
}
#inner-card{
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  width: 250px;
  background-color: rgb(82, 80, 80);
}
#inner-card h3{
  margin-bottom: 12px;
}

#inner-card hr{
  opacity: .2;
}

#inner-card form input{
  width: 100%;
  font-weight: 600;
  padding: 13px 20px;
  border-radius: 5px;
  outline-color: royalblue;
  border: 2px solid #dadada;
  margin-top: 10px;
}

#inner-card #submit{
  background-color: royalblue;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}